/* button{
    color: brown;
    height: 100px;
    width : 300px;
    text-align: left;
    font-size: larger;
    background-color: black;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}
.calculator{
    border :10px solid black;
    border-radius: 6px;
    padding:30px;
    background-color: aquamarine;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 10px;;
}

button{
    border: 2px solid blue;
    margin-top: 20px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    width :calc(100%-20px)
}